body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 12pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.half1 {
	width: 50%;
	float: left;
}

.half2 {
	width: 50%;
	float: right;
}

/* submark */
#source { width: 95%;}

#submark  {
    font-size: 25px;
}

#submark img {
	vertical-align: top;
	height: 30px;
}

#submark .helplist img {
	height: 50px;
}
#submark .helplist {
	width: auto;
}

#helplink {
	font-size: 80%;
}

#helplink:before {
	content: '[';
}

#helplink:after {
	  content: ']';
}

#submark .inventory {
	width: auto;
	border-collapse: separate;
	border-spacing: 1px;
	display: inline-table;
    margin-right:5px;
	margin-bottom:5px;
}

#submark .inventory img, .inventory .empty {
	width: 30px;
	height: 30px;
    display: block;
}
#submark .inventory td {
	padding: 0;
	margin: 0;
	border: 1px solid #ddddee;
}

#submark .inventory .hgt2 {
	height: 63px;
}
#submark .inventory .hgt3 {
	height: 96px;
}
#submark .inventory .wid2 {
	width: 63px;
}
#submark .inventory .wid3 {
	width: 96px;
}

.paragraph {
	margin-bottom: 1em;
}
#submark h1,
#submark h2,
#submark h3,
#submark h4,
#submark h5,
#submark h6 {
	margin-bottom: .5em;
}

.lds-dual-ring {
	display: inline-block;
	width: 3em;
	height: 2em;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 1em;
	height: 1em;
	margin: 1em;
	border-radius: 50%;
	border: .2em solid #666;
	border-color: #666 transparent #666 transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
#leaderboard_link {
	float:right;
	font-size: 80%;
	color: gray;
}
